/Project_Final_sonnt5/nbproject/private/
/Project_Final_sonnt5/dist/
/Project_Final_sonnt5/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/Pt2/nbproject/private/
/Pt2/build/
/Pt2/dist/
