/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 8, 2022, 6:39:58 AM
    Author     : l
*/

a {
     font-size: large;
     margin: 5px 5px 5px 5px;
}